* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Jost', sans-serif;
    background-color: var(--background-color);


}

html {
    scroll-behavior: smooth;
}

:root {
    --background-color: #fff;
    --background-color2: rgba(147, 107, 232, 0.05);
    --text-color: #3F3A64;
    --title-color: #8C89A2;
}

/* Remova as barras de rolagem padrão do navegador */
body::-webkit-scrollbar {
    width: 8px;
    /* Largura da barra de rolagem */
}

/* Estilize o fundo da barra de rolagem */
body::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Cor de fundo da barra de rolagem */
}

/* Estilize o botão de rolagem */
body::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Cor do botão de rolagem */
    border-radius: 4px;
    /* Cantos arredondados do botão de rolagem */
}

/* Estilize o botão de rolagem quando estiver passando o mouse por cima */
body::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Cor do botão de rolagem quando o mouse está sobre ele */
}




span {
    color: #7127BA;
    font-weight: bold;
}

.header .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    padding: 10px;
    top: 0;
    box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.05);
    z-index: 1;

}

.header .menu a {
    text-decoration: none;
    color: #000;
}

.header .menu h1 {
    text-align: center;
}

.header .menu ul {
    list-style: none;
    color: var(--text-color);
    display: flex;
    gap: 32px;
    margin-right: 40px;
}

.header .menu ul li {
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
}

.hamburguer {
    border: none;
    display: none;
    background: none;
    cursor: pointer;
    border-top: 3px solid #000;
}

.hamburguer::before,
.hamburguer::after {
    content: " ";
    display: block;
    width: 30px;
    height: 5px;
    background: #000;
    margin-top: 5px;
    position: relative;
}

.header .menu ul li a {
    text-decoration: none;
    color: var(--text-color);
    transition: all 0.5s;
}

.header .menu ul li a:hover {
    color: #7D11F9;

}

.sectionPresentation {
    display: flex;
    background: var(--background-color2);
    height: 100vh;
    align-items: center;
    justify-content: center;

}

.hero {
    padding: 20px;
}

.hero h1 {
    color: var(--text-color);
    margin-top: 30px;
}

.hero h2 {
    color: var(--text-color);
    font-size: 25px;
}

.hero p {
    color: var(--text-color);
    font-size: 40px;
    margin-top: 40px;
}

.sectionAbout {
    margin-top: 20px;
}

.ProfilePhoto img {
    max-width: 488px;
    max-height: 488px;
    border-radius: 20px;
}

.about {
    display: flex;
    padding: 20px;

}

.AboutMe {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    /* Alinhar o texto à esquerda */
    padding: 20px;
    /* Adicione algum espaçamento para melhorar a aparência */
    position: relative;
    /* Defina a posição como relativa para alinhar o H1 */
}

.AboutMe h1 {
    margin: 0;
    /* Remova a margem padrão do H1 */
    font-size: 20px;
    /* Tamanho de fonte desejado */
    position: absolute;
    top: 0;
    /* Alinhe ao topo da div pai */
    left: 0;
    /* Alinhe à esquerda da div pai */
    color: var(--title-color);
}

.about p {
    color: var(--text-color);
    font-size: 20px;
    padding: 20px;
    text-align: justify;
}

#maisTexto {
    display: none;
    text-align: justify;
}

/* Estilo para o botão "Leia mais" */
#leiaMaisBtn {
    cursor: pointer;
    color: blue;
}

.about img {
    padding-inline: 3em;
}

.techs h1 {
    text-transform: uppercase;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    color: var(--title-color);


}



.experienceProfessional {
    background: var(--background-color2);

}

.experienceProfessional .title {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 20px;
    color: var(--title-color);
}

.Cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 100px;
}

.cardExperience {
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    max-width: 700px;
    /* Valores ajustados para sombra mais suave */
}

.cardExperience h1 {
    color: #7D11F9;
    font-size: 16px;
}

.cardExperience ul {
    margin-left: 30px;
    margin-bottom: 30px;
}

.cardExperience span a {
    text-decoration: none;
    color: #7127BA;
    border: 1px solid #7D11F9;
    border-radius: 10px;
    padding: 10px;
}

.ContainerHabilidades {
    display: flex;
    width: 100%;
    padding-inline: 100px;
    gap: 30px;
}

.HardSkills {
    width: 90%;

}

.SoftSkills {
    width: 90%;

}

.HardSkills h2,
.SoftSkills h2 {
    text-align: center;
    font-size: 15px;
}

.habilidades {
    width: 50%;

}

.habilidade {
    margin-bottom: 20px;
    /* Espaçamento entre habilidades */
}

.habilidade-titulo {
    font-weight: bold;
}

.barra-container {
    width: 100%;
    background-color: #ccc;
    height: 10px;
    border-radius: 10px;
    margin-top: 5px;

}

.barra-progresso {
    width: 50%;
    /* Largura inicial da barra de preenchimento (50% no exemplo) */
    height: 100%;
    /* A barra ocupa toda a altura da barra-container */
    background-color: #7D11F9;
    border-radius: 10px;
    animation: preenchimento 2s linear;

}


.Projetcs {
    padding-inline: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 40px;
}

.Projetcs h1 {
    color: var(--title-color);
}

.Projetcs img {
    max-width: 400px;
    height: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.ProjetosFeitos {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.CardProjeto {
    background-color: var(--background-color2);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    max-width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1);
    transition: transform 0.3s ease;

}

.CardProjeto p {
    text-align: center;
    padding: 10px;
}

.CardProjeto button {
    border: none;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #7D11F9;
    border-radius: 10px;
    background: #7D11F9;
}

.CardProjeto button a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;

}
.CardProjeto:hover{
    transform: scale(1.1); 
}
.sectionEducation {
    display: flex;
    padding-inline: 3em;
    padding-top: 7em;
    flex-direction: column;
}

.education {
    color: #fff;
    height: auto;
    display: flex;
    gap: 40px;

}

.sectionEducation h1 {
    color: var(--text-color);
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
}

.education details {
    width: 100%;
}

.education details summary {

    background: #8C89A2;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
    color: #000;
    text-transform: uppercase;
}

.education details ul {
    color: #000;
    padding-left: 20PX;
}

.education details ul li {
    padding: 10px;


}

#detailsEnsinoSuperior ul a {

    text-decoration: none;

}

.contact {
    align-items: center;
    display: flex;
    flex-direction: column;
    background: var(--background-color2);
    height: 200px;
}

.ContactIformation {
    display: flex;
}

.ContactIformation img {
    width: 300px;
    height: 300px;
}

.ContactIformation ul li a {
    font-size: 25px;
    color: var(--title-color);
    transition: all 0.4s;
}

.ContactIformation ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.ContactIformation ul li a:hover {
    color: #7D11F9;
}

iframe {
    width: 100%;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-inline: 30px;

}

.footer ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

@keyframes preenchimento {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }

    /* Defina a largura final desejada, por exemplo, 80% */
}

@media (max-width: 1042px) {


    .header .menu {
        padding-inline: 1em;
        padding-top: 0em;

    }

    .header img {
        width: 150px;
    }

    .AboutMe {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .AboutMe h1 {
        text-align: center;
        position: relative;

    }

    .sectionPresentation {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .hero h1 {
        margin-top: 10px;
        font-size: 25px;
    }

    .hero p {
        font-size: 30px;
        margin-top: 20px;
    }

}

@media (max-width: 860px) {

    .sectionPresentation img {
        width: 15em
    }

    ;

    .hero h1 {
        font-size: 25px;
    }

    .hero p {
        font-size: 20px;
        margin-top: 20px;
    }

    .hamburguer {
        display: block;
        z-index: 1;
    }

    .header .menu h1 {
        font-size: 15px;
        text-align: center;
    }

    .header .menu ul {
        display: block;
        background-color: transparent;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #fff;
        border-radius: 0;
        color: #000;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        clip-path: circle(100px at 90% -35%);
        pointer-events: none;
        gap: 0;


    }

    .menu.active ul {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;

    }

    .menu.active .hamburguer {
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .menu.active .hamburguer::before {
        transform: rotate(135deg);
    }

    .menu.active .hamburguer::after {
        transform: rotate(-135deg);
        top: -9px;

    }

    .header {
        height: 100vh;
    }

    .AboutMe {
        padding-inline: 1em;
    }

    .about {
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .about img {
        max-width: 250px;
        padding-inline: 0em;


    }

    .about p {
        font-size: 15px;
        text-align: justify;
    }

    .education {
        display: block;
    }

    .sectionEducation {
        display: flex;
        padding-inline: 0.6em;
        padding-top: 7em;
        flex-direction: column;
    }

    .techsImagem img {
        max-width: 300px;
    }

    .techs h1 {
        font-size: 12px;
    }

    .experienceProfessional {
        padding-inline: 1em;


    }

    .Cards {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 5px;
    }

    .cardExperience {
        margin-bottom: 20px;
        padding: 20px;
    }

    .ContainerHabilidades {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-inline: 0px;
        gap: 0px;
    }

    .experienceProfessional h1 {
        font-size: 18px;
    }

    .CardProjeto,
    .Projetcs img {
        max-width: 300px;
    }
}